/* Survey page styles */

.photo {
    width: 60%;
    padding: 10px;
}

form {
    margin: 0 auto;
    text-align: left;
    display: inline-block;
}

.container {
    text-align: center;
}

.newsletter {
    text-align: right;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

ul li {
    display: inline-block;
}


}
input, textarea {
    width: 300px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid #666;
}
input[type=checkbox], input[type=radio] {
    width: auto;
    border: none;
}
input:focus, textarea:focus {
    border: #000;
}
textarea {
    vertical-align: top;
    height: 5em;
    resize: vertical;
}
fieldset {
    width: 300px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin-top: 30px;
}

/* Styles for larger screens */
@media screen and (min-width: 840px) {
    .photo {
        width: 40%;
    }
}
