/* Tour page styles */

table {
    margin: auto;
}

table, th, td {
    border: 1px solid #781125;
}

th, td {
    padding: 10px 20px;
}

.heading {
    display: inline-block;
    margin: 20px 0;
}

.pick {
    width: 40px;
    height: 0%;
    padding: 10px;
}


}
